WEB_PORT=13300
ML_API_PORT=18000
ESTIMATOR_API_PORT=18001
MARKET_API_PORT=18080
NEXT_PUBLIC_BASE_PATH=/housing

ML_API_TIMEOUT_SECONDS=5
WEB_API_TIMEOUT_SECONDS=10
MARKET_CACHE_TTL_SECONDS=300
MARKET_CACHE_MAX_ENTRIES=256

ML_API_MEMORY_LIMIT=320m
ESTIMATOR_API_MEMORY_LIMIT=192m
MARKET_API_MEMORY_LIMIT=640m
WEB_MEMORY_LIMIT=256m
